.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding: 20px;
}

.grid-item {
    padding: 20px;
}

.header {
    color: #2F4F4F;
    background-color: #FFE4B5;
    text-align: left;
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    border-radius: 10px;
}

.button_login {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.button_login:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.sidebar {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #FFE4B5;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.content {
    font-size: 18px;
    font-family: 'Georgia', serif;
    line-height: 1.6;
    color: #333;
    text-align: justify;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 10px;
}

.table {
    grid-column: span 2;
    --bs-table-striped-color: #212529;
    --bs-table-bg : white;
    --bs-table-hover-bg: #FFE4B5;
    --bs-table-hover-color: #212529;
    --bs-table-active-color: #212529;
    border-color: #ddd;
    margin : 10px;

}

.changeable-block {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
    grid-column: span 2;
}

.changeable-block.state-1 {
    background-color: white;
    color:  #4CAF50;
    border: 2px solid #4CAF50;
}

.changeable-block.state-2 {
    background-color: white;
    color: #2196F3;
    border: 2px solid #2196F3;
}

.changeable-block.state-3 {
    background-color: white;
    color: #FFC107;
    border: 2px solid #FFC107;
}

.add-block {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
    grid-column: span 2;
    background-color: #4CAF50;
}


.new-block {
    background-color: #f1f1f1;
    text-align: center;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 10px;
    grid-column: span 2;
}

.footer {
    color: #2F4F4F;
    background-color: #FFE4B5;
    text-align: center;
    grid-column: span 2;
    font-size: 20px;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}
